#section1{
    
    background-image: url("http://roundtripticket.me/media/background-throughout-world-map-background.jpg");
}

#section2{
    background-color: rgb(44, 62, 80);
}

#section3{
    background-color: rgb(51, 153, 204);
}

.section{
    text-align: center;
    color: black;
}